div#grid
    .column
        notebooks-card(namespace='[[namespace]]')
    .column
        pipelines-card(heading='Recent Workflows', artifact-type='pipelines')
        pipelines-card(heading='Recent Workflow Runs', artifact-type='runs')
    .column
        paper-card#Quick-Links(heading='Quick shortcuts')
            template(is='dom-repeat', items='[[quickLinks]]')
                iframe-link.link(href$="[[item.link]]")
                    paper-icon-item
                        iron-icon(icon='kubeflow:bolt', slot='item-icon')
                        paper-item-body(two-line)
                            .header [[item.text]]
                            aside(secondary) [[item.desc]]
                        paper-ripple
        template(is='dom-if', if='[[platformDetails.resourceChartsLink]]')
            resource-chart(header-text='Cluster CPU Utilization', metric='cpu',
                interval='Last60m',
                external-link='[[platformDetails.resourceChartsLink]]',
                external-link-text='[[platformDetails.resourceChartsLinkText]]')
            resource-chart(header-text='Pod CPU Utilization', metric='podcpu',
                interval='Last60m',
                external-link='[[platformDetails.resourceChartsLink]]'
                external-link-text='[[platformDetails.resourceChartsLinkText]]')
