iron-ajax(auto, url='/api/has-workgroup', handle-as='json',
    on-response='_onHasWorkgroupResponse', loading='{{pageLoading}}')
iron-ajax#envInfo(auto='[[_shouldFetchEnv]]', url='/api/env-info', handle-as='json',
    on-response='_onEnvInfoResponse')
aside#PageLoader(hidden='{{!pageLoading}}')
app-drawer-layout.flex(narrow='{{narrowMode}}',
        force-narrow='[[or(inIframe, thinView, notFoundInIframe)]]',
        bleed$='[[sidebarBleed]]')
    app-location(route='{{route}}', query-params='{{queryParams}}')
    app-route(route='{{route}}', pattern='/:page', data='{{routeData}}',
        tail='{{subRouteData}}')
    app-drawer#MainDrawer(slot='drawer')
        figure.logo
            |!{logo}
        iron-selector.flex(selected='{{sidebarItemIndex}}')
            a(href$='[[buildHref("/", queryParams)]]', tabindex='-1')
                paper-item.menu-item Home
            template(is='dom-repeat', items='[[menuLinks]]')
                iframe-link(href$="[[buildHref(item.link, queryParams)]]")
                    paper-item.menu-item [[item.text]]
            a(href$='[[buildHref("/")]]', target='_blank', tabindex='0')
                paper-item.menu-item Jenkins
                    //- img(src='/assets/icons/new_tab.png')
        footer.footer
            section.build build version&nbsp;
                span(title="Build: [[buildVersion]] | Dashboard: v[[dashVersion]] | Isolation-Mode: [[isolationMode]]") [[buildVersion]]
    app-header-layout(fullbleed)
    app-header-layout(fullbleed)
        app-header(slot='header', hides, hidden$='[[notFoundInIframe]]')
            app-toolbar
                aside#Narrow-Slider(hides, hidden$='[[!narrowMode]]')
                    paper-icon-button#Menu(icon='menu', drawer-toggle)
                namespace-selector#NamespaceSelector(
                    query-params='{{queryParams}}', namespaces='[[namespaces]]'
                    selected='{{namespace}}', hides, hidden$='[[hideNamespaces]]')
                footer#User-Badge
                    iron-image.image(sizing='contain', fade,
                        src='/assets/anon-user.png', title='[[user]]')
        main#Content
            section#ViewTabs(hidden$='[[hideTabs]]')
                paper-tabs(selected='[[page]]', attr-for-selected='page')
                    paper-tab(page='dashboard', link)
                        a.link(tabindex='-1', href$='[[buildHref("/", queryParams)]]') Dashboard
                    paper-tab(page='activity', link)
                        a.link(tabindex='-1', href$='[[buildHref("/activity", queryParams)]]') Activity
            neon-animated-pages(selected='[[page]]', attr-for-selected='page',
                                entry-animation='fade-in-animation',
                                exit-animation='fade-out-animation')
                neon-animatable(page='dashboard')
                    dashboard-view(namespace='[[namespace]]',
                        platform-info='[[platformInfo]]')
                neon-animatable(page='activity')
                    activity-view(namespace='[[queryParams.ns]]')
                neon-animatable(page='iframe')
                    iframe#PageFrame.flex
                neon-animatable(page='not_found')
                    not-found-view(path="[[route.path]]")
    iron-media-query(query='(max-width: 900px)', query-matches='{{sidebarBleed}}')
    iron-media-query(query='(max-width: 1270px)', query-matches='{{thinView}}')
template(is='dom-if', if='[[registrationFlow]]')
    registration-page(user-details='[[user]]', on-flowcomplete='resyncApp')
