:host {
    @apply --layout-fullbleed;
    @apply --layout-vertical;
    @apply --layout-center-center;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    --accent-color: #3674e0;
    --logo-color: #183b6d;
    --primary-background-color: #f1f3f4;
    --heading-color: #3c4043;
    --subtext-color: #80868b;
    background: var(--primary-background-color);
}
h1,h2,h3 {margin: 0;color: var(--heading-color);font-weight: 400}
h2 {font-size: 1.25em}
h2+aside {font-size: .7em;color: var(--subtext-color)}
#MainCard {
    background: white;
    padding: 0 40px;
    max-width: 500px;
    width: 100%;
}

#Logo {
    color: var(--logo-color);
    margin: 0;
    padding: 3em 0 4em;
}
#Logo>svg * {fill: currentColor}

#MainCard .Main-Content {
    height: 275px;
}
neon-animatable {
    @apply --layout-vertical;
}
.actions {
    margin-top: 1.5em;
    flex: 1;
    @apply --layout-horizontal-reverse;
    @apply --layout-end;
}
.actions > paper-button {
    height: 2.5em;
    font-size: .75em;
    padding: .7em 1em;
    color: var(--accent-color);
    text-transform: none;
}
.actions > paper-button:first-of-type {
    background: var(--accent-color);
    color: white;
    margin-left: 0;
}
.actions > paper-button[disabled] {
    cursor: not-allowed;
    background: var(--paper-grey-200);
}
.actions > paper-button:first-of-type[disabled] {
    background: var(--paper-grey-500);
}
.finish {
    @apply --layout-horizontal;
    @apply --layout-center-center;
}
.finish #ApiMessage {
    width: 0;
    transition: width .25s;
    color: var(--accent-color);
    font-size: .75em;
    overflow: hidden;
    white-space: nowrap;
}
animated-checkmark {
    margin: 1em .5em;
}
carousel-indicator {
    margin: 1em;
}

#Links {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 3em;
    font-size: .8em;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    color: #a2a7ad;
    @apply --layout-horizontal;
    @apply --layout-around-justified;
}
#Links a {
    text-decoration: none;
    color: inherit;
}
#Links a:hover {
    text-decoration: underline;
}
#Namespace {
    --paper-input-error: {
        white-space: unset;
    }
}