body {
    --accent-color: #86bc25;
    --accent-color-light: #d1eca0;
    --accent-color-dark: #046838;
    --kubeflow-color: #86bc25;
    --primary-background-color: #000;
    --sidebar-color: #f8fafb;
    --border-color: #f4f4f6;
}