// .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//   color: rgba(0, 0, 0, 0.15) !important;
// }

.margin {
  margin: 8px 8px 8px 0px;
}

.wide {
  width: 100%;
}

.container {
  width: fit-content;
  margin: 2em auto;
}

.card {
  width: 900px;
  padding: 16px;
  border-radius: 5px;
  background: white;
}

// The Classes bellow are used from the sub-components
// they are here to reduce code redunduncy since these would appear in each
// different sub-component
h3 {
 color: #86bc25; 
}
p {
  color: rgba(0, 0, 0, 0);
}

.group-wrapper {
  margin-bottom: 0.5rem;
}

.group-wrapper > button {
  margin-bottom: 0.5rem;
}

.material-icons {
  line-height: 0.85;
}

.inputs-wrapper {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.inputs-wrapper > .mat-form-field {
  flex: 1 1 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
