html, body {
  height: 100%;
  background-color: #000;
}

body {
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table#wrapper {
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

table#wrapper tr > td.side {
	vertical-align: middle;
	width: 400px;
	padding: 20px;
}

table#wrapper tr > td.content {
	vertical-align: middle;
	text-align: left;
}

table#wrapper tr > td.content video {
  height: 70%;
  max-width: 100%;
}

table#wrapper tr > td.content .message {
  text-align: center;
  font-size: 40px;
  font-size: 2.0vw;
  padding-right: 10%;
}

table#wrapper tr > td.content .message > span {

}

a {
  padding: 0px 0px 0px 60px;
  font-size: 18px;
  line-height: 46px;
}

textarea, button, select {
  outline: none;
  font-family: 'Open Sans';
  cursor: pointer;
}

strong, b {
  font-weight: 700;
}

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

img {
  border: 0px;
}

:focus,
:active {
  outline: none !important;
}

/****** LOGIN PAGE.begin ******/

.login {
  display: table;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  table-layout: fixed;
}

.contlnk {
  opacity: 1;
  transition: opacity 0.3s;
}

.contlnk.open {
  height: 0px;
  opacity: 0;
}

.contlnk>div {
  padding-bottom: 10px;
}

.contlnk a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}

.contlnk span:after {
  position: relative;
  top: 2px;
  content: "\2a";
  font-weight: 700;
  font-size: 20px;
  font-family: 'icons2';
}

.contlnk a:hover {
  text-decoration: underline;
}

.login .header {
  padding: 20px 20px 0px 20px;
  position: static;
  background: #000000;
  text-align: left;
  max-width: 400px;
  margin: auto;
}

.login .header .landing {
  padding: 20px 20px 0px 20px;
}

.login .header .logo_1 {
  width: 300px;
  max-width: 50%;
  position: absolute;
  top: 50px;
  left: 40px;
}
.login .header .logo_2 {
  width: 300px;
  max-width: 50%;
  position: absolute;
  top: 120px;
  left: 38px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
}

.login .header .logo_2 .green {
  color: #86bc25;
}

.login .header .sub_title {
  padding: 0px;
  font-weight: 300;
  font-size: 36px;
}

.login .title {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
}

.login .form_welcome {
  position: static;
  padding: 0px 20px;
  max-width: 400px;
  margin: auto;
}

.login .side {
  position: static;
  display: table-cell;
  overflow: auto;
  width: 320px;
  height: auto;
  background: #000000;
  vertical-align: top;
}

.login .side .line_1 {
  padding: 0px;
  width: auto;
}

.login .img {
  display: table-cell;
  width: 100%;
  color: #FFFFFF;
  vertical-align: top;
  text-align: center;
}

.login .img img {
  max-width: 100%;
}

.login .forms {
  padding: 0px 0px 20px 0px;
}

.login .forms input {
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  border: 0px;
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.login .forms button {
  display: block;
  width: 100%;
  padding: 11px;
  border-radius: 2px;
  background: #00A3E0;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border: 0;
}

.login .forms .form .label {
  padding: 0px 0px 10px 0px;
}

.login .forms .form .label label {
  font-weight: 700;
  font-size: 14px;
}

.login .forms .form .entry {
  padding: 0px 0px 20px 0px;
}

#contact-form .entry.required,
#register-form .entry.required {
  display: none;
}

.login .forms .form .errorMessage {
  padding: 4px 0px 0px 0px;
  color: #BBBCBC;
  font-size: 11px;
}

.login .forms .login_links>div {
  padding: 0px 0px 20px 0px;
}

.login .forms .login_links a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  padding: 0px;
}

.login .forms .login_links span:after {
  position: relative;
  top: 2px;
  content: "\2a";
  font-weight: 700;
  font-size: 20px;
  font-family: 'icons2';
}

.login .forms .login_links a:hover {
  text-decoration: underline;
}

.login .forms .btns {
  padding: 20px 0px 0px;
}

.login .forms .btns a {
  display: block;
  padding: 12px;
  border-radius: 2px;
  background: #00A3E0;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding: 0px;
}

.login .forms .btns a:hover {
  background: #62B5E5;
}

.login .forms .btns .ext a {
  margin-top: 20px;
  border: 1px solid #FFFFFF;
  background: #000000;
}

.login .forms .btns .ext a:hover {
  border: 1px solid #62B5E5;
  background: #62B5E5;
  font-weight: 700;
}

.login .forms .btns .ext a:active {
  border: 1px solid #0076A8;
  background: #0076A8;
}

.login .forms .form.open,
.login .forms .form.close {
  overflow: hidden;
  padding: 0px;
  height: 0px;
  transition: height 0.3s;
}

.login .forms .form.open {
  padding: 10px 0px;
  height: 420px;
}

.login .forms .contact form textarea {
  width: 100%;
  border: 0px;
}

.register {
  padding-bottom: 20px;
}

.login .contact .blurb{
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/****** LOGIN PAGE.end ******/

footer {
	position: fixed;
	z-index: 2;
	left: 40px;
	bottom: 20px;
	font-size: 13px;
  color: #aaa;
  font-style: italic;
}

@media(max-width: 1100px) {
  table#wrapper tr > td.content .message {
    font-size: 34px;
    font-size: 2.0vw;
    padding: 0px;
  }
}

@media(max-width: 768px) {
  table#wrapper tr > td.side {
    width: auto;
  }
  table#wrapper tr > td.content {
    display: none;
  }
  footer {
    width: 100%;
  }
}